@import '../../../assets/css/globals';

.table {
  border-collapse: collapse;
  padding: 0.625em;
}

.thead {
  background-color: #f2f2f2;
}

.td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 0.625em;
}

.th {
  font-weight: 700;
  background-color: #800080;
  color: #fff;
  padding: 0.625em;
}

.input[type='checkbox'] {
  margin: 0;
  vertical-align: middle;
  transform: scale(1.5);
}

.spacing {
  margin-left: 0.5em;
}
